/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.tab {
    border-collapse: collapse;
    width: 100%;
    white-space: pre-wrap;
    font-family: 'Source Sans Pro', sans-serif;
    page-break-inside: auto;
}

.tab td, .tab th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tab td:nth-child(3) {
    word-break: break-word;
    hyphens: auto;
}

.tab tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

/* small smileys */
.tab tr img.wp-smiley, .tab tr img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.tab thead {
    display: table-header-group;
}

.tab tfoot {
    display: table-footer-group;
}

.tab tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tab tr:hover {
    background-color: #ddd;
}

.tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b41019;
    color: white;
}

.subheading {
    text-align: center !important;
    font-weight: bold;
    background-color: #b41019;
    color: white;
}

.menu-right {
    float: right;
}

.menu-right input {
    vertical-align: middle;
}

.menu-right * {
    margin-left: 5px;
}

.menu-left {
    float: left;
}

.menu-left select {
    vertical-align: middle;
}

.menu-left * {
    margin-right: 5px;
}

.rbc-event {
    background-color: #b41019 !important;
}

.rbc-today {
    background-color: rgba(255, 0, 0, 0.3) !important;
}

.close {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.menu {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}


.menu * {
    margin-bottom: 10px;
}

.menu input {
    margin: 0;
}

.popup {
    position: fixed;
    top: 0;
    padding: 300px;
    z-index: 10000;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.popupContent {
    width: 800px;
    height: 450px;
    background-color: white;
    border: 1px solid gray;
    margin: auto;
    margin-top: -100px;
    padding: 20px;
}

.popupTextBox {
    margin: 50px;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
}

@media only screen and (max-width: 1200px) {
    .menu {
        flex-direction: column;
        align-items: normal;
    }

    .menu input {
        width: 100%
    }

    .popup {
        padding: 0;
        z-index: 99999;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .popupContent {
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid gray;
        margin: 0;
        padding: 0;
    }
}


/* print page */
@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        margin: 0;
        clear: both;
        page-break-after: always;
    }
}

@page {
    margin: 5mm 5mm 5mm 5mm;
}

.print-heading {
    text-align: center;
    font-family: "Source Sans Pro" sans-serif;
    font-size: 22px;
}

.print-sub-heading {
    text-align: center;
    font-family: "Source Sans Pro" sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* Custom code for AuxRendezvousDuLoup */

.caldav-events {
    max-height: 500px;
    overflow-y: scroll;
}
.caldav-events::after {
    position: sticky;
    bottom: 1rem;
    left: 50%;
    content: "⬇";
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: .8;
    font-size: 3rem;
    text-align: center;
    background: white;
    border-radius: 100%;
    border: 1px solid #ccc;
    opacity: .7;
}

.caldav-events > article {
    display: flex;
    margin: 0;
    padding: .5rem;
}
.caldav-events time {
    display: inline-block;
    margin-right: 2rem;
}

.caldav-events .summary {
    font-weight: bold;
    margin-bottom: 0;
}
.caldav-events p {
    margin: inherit;
}
.caldav-events address {
    margin-bottom: 0;
}
.caldav-events article:nth-child(odd) {
    background-color: #f3f3f3;
}
.caldav-events article:nth-child(even) {
    background-color: #fcfcfc;
}
